/*nav*/
a {
	text-decoration: none;
	color: white;
	outline: none;
	cursor: pointer;
}

a:hover,
 a:focus {
	color: black;
	outline: none;
}



.movie_top{
    height: 210px;
}
.movie_down{
    height: 210px;
}
.section_movie_2 ul {
    list-style-type: none;
    padding-left: 0;
}
.section_movie_2 ul img{
    width: 250px;
    height: 140px;
    margin-bottom: 10px;
}
.section_movie li{
    width: 250px;
    display: inline-block;
    margin-right: 35px; 
    height: 300px;
}
.section_movie ul li div a{
    font-size: 13px;
    line-height: 1.54;
    color: #9c0e0e;
   
}
.section_film{
    position: relative;
    width: 100%;
    height: 650px;
    background-color: #F7F7F7;
    color: #9c0e0e;
}
.wrapper_left{
    position: absolute;
    left: 210px;
    top: 40px;
}
.wrapper_left ul{
    list-style-type: none;
    padding-left: 0;
}
.wrapper_left ul li{
    margin-bottom: 8px;
}
.wrapper_left h2 a{
    font-size: 24px;
}
.wrapper_left ul li a{
    font-size: 14px;
}
.film_left{
    color: #9c0e0e;
}
.film_left h2 a{
    color: #9c0e0e;
}
.film_left ul li a{
    color: #9c0e0e;
}   
.wrapper_center ul {
    list-style-type: none;
    padding-left: 0;
}
.wrapper_center{
    position: absolute;
    left: 325px;
    top: 40px;
    width: 540px;
}
.wrapper_center ul li{
    display: inline-block;
}
.film_center img{
    width: 100px;
    height: 145.37px;
}
.film_center .pic{
    margin: 0 15px 10px 15px;
}
.film_center .title{
   
    margin-left:20px;
}
.film_center .title a{
    color: #333;
    font-size: 14px;
}
.film_center ul li{
    margin-bottom: 30px;
}
.film_center ul li .purcharse{
    background-color: #9c0e0e;
    color: white;
   
    margin-left:20px;
}
.film_center .rating span{
    margin-left: 30px;
    font-size: 12px;
    display: block;
  margin-left:20px;

}
.film_center .rating{
    margin-bottom: 10px;
}
.film_center .title{
    margin-bottom: 5px;
}
.wrapper_right{
    position: absolute;
    left: 890px;
    top: 40px;
    width: 280px;
}
.movie_right a{
    color:#669;
}
.movies ul {
    list-style-type: none;
    padding-left: 0;
}
.movies ul li{
    display: inline-block;
    width: 48px;
}
.movies ul li a{
    font-size: 12px;
	color:rgb(0,0,0);
}
.hotMovie ol{
    padding-left: 15px;
	color:rgb(0,0,0);
}
.hotMovie ol li a{
    font-size: 13px;
	color:rgb(0,0,0);
}
.hotMovie ol li{
    border-bottom: 1px solid  #EAEAEA;
    margin-bottom: 10px;
}

.section_book{
    height: 680px;
    width: 100%;
    background-color: #f7f7f7;
    position: relative;
}
.section_book_left h2 a{
     color: #9c0e0e;
}
.section_book_left ul li a{
    color: #9c0e0e;
    
}
.section_book_left_logo a.book_logo{
    display: block;
    width: 50px;
    height: 50px;
    background: url('./images1/app_icons_50_10.jpg') no-repeat 0 0;
    border-radius: 10px;
    margin-top: 30px;
}
.section_book_left_logo div a{
    color: #614e3c;
    font-size: 12px;
}
.book_center img{
    width: 100px;
    height: 142px;
}
.book_center_top1 ul li{
     margin: 0 10px 0 10px;
    display: inline-block;
    width: 100px; 
    font-size: 12px;
    text-align: center;
}
div.book_title{
    margin-top: 10px;
    margin-bottom: 5px;
}
div.book_title a{
    color: #614e3c;
}
a.book_free_reading{
   
	 background-color: #9c0e0e;
    color: white;
    text-align: center;
    margin-left:0px;
	font-size:16px;
}
.book_center_top2 ul li{
     margin: 0 10px 0 10px;
    display: inline-block;
    width: 100px; 
    font-size: 12px;
    text-align: center;
}
.book_right span{
    color: #999;
    font-size: 12px;
}
.book_right ul{
    list-style-type: none;
    border-bottom: 1px solid #f2efef;
    padding-left: 0;
    margin: 0;
    padding: 10px 0 10px 0;
}
.book_right ul li{
    display: inline-block;
    margin-right: 8px;
}
.book_right ul li a{
    color:#3a1911;
    font-size: 12px;
}
.section_music{
    height: 850px;
    width: 100%;
    position: relative;
}
.music_left h2 a{
    color: #3a1911;
}
.music_left ul li a{
    color: #555d53;
}
a.music_left_logo1{
    display: block;
    margin-top: 30px;
    width: 50px;
    height: 50px;
    background: url('./images1/app_icons_50_10.jpg') no-repeat -250px 0;
    border-radius: 10px;
}
a.music_left_logo2{
    display: block;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    background: url('./images1/app_icons_50_10.jpg') no-repeat -50px 0;
    border-radius: 10px;
}
.music_logo_title a{
    color:#3a1911;
    font-size: 12px; 
}
.music_center_top_item ul{
    /* margin-bottom: 20px; */
}
.music_center_top_item ul li{
    display: inline-block;
    margin: 0 20px;
    text-align: center;
    margin-bottom: 30px;
}
.music_center_top_item ul li span{
    color:#555d53;
    font-size: 12px;
    position: relative;
    left: 30px;
    top: -23px;
}
.music_center_top_item ul li div{
    color:#555d53;
    font-size: 12px;
    margin: 5px 0;
}
.music_center_top_item ul li div a{
    color: #555d53;
    font-size: 12px;
}
.music_center_down_item ul li {
    display: inline-block;
    text-align: center;
    margin: 10px 20px;
}
.music_center_down_item ul li img{
    /* display: inline-block; */
    width: 80px;
    height: 80px;
}
.music_center_down_item ul li div{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
}
.music_player ol{
    list-style: none;
    padding-left: 0;
}
.music_player ol li{
    height: 90px;
} 
.music_player ol li span{
    position: relative;
    top: -35px;
}
.music_player .music_div{
    position: relative;
    left: 80px;
    top: -50px;
}
.music_author a{
    color: #555d53;
    font-size: 12px;
}
.music_tag{
    margin-top: 5px;
    color:#999;
    font-size: 12px;
}
.location_left h2 a{
    color: #3a1911;
}
.location_left_item ul li{
    width: 100px;
}
.location_left_item ul li a{
    color: #111;
}
.location_center_show ul li{
    margin-right: 195px;
    position: relative;
    margin-bottom: 40px;
}
.location_center_show_title{
    position: absolute;
    left: 80px;
    top: -5px;
    width: 180px;
}
.location_center_show_title div{
    margin: 2.5px 0;
}
.location_center_show ul li div a{
    color: #643;
    font-size: 13px;
}
.location_center_show ul li div div{
    color:#666;
    font-size: 12px;
}
.location_right a{
    color: #333;
    font-size: 14px;
}
.location_right h3{
    margin: 2px 0;
    font-weight: 500;
}
.location_right ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0px 0 10px;
}
.location_right ul li{
    display: inline-block;
    margin-right: 5px;
}

#bottom{
    position:relative;
    top:790px;
    background-color: #f8f9f9;
    color: slategrey;
    height: 60px;
}
