/*nav*/
a {
	text-decoration: none;
	color: white;
	outline: none;
	cursor: pointer;
}

a:hover,
 a:focus {
	color: black;
	outline: none;
}


.wrap{
    margin: 0 auto;
    width: 980px;
}

.division_title a {
    color: #3a1911;
}

.division_title a:hover {
    color: #7e0e0e;
}

.division{
    margin-top: 30px;
    margin-bottom: 15px;
    width: 980px;
}

.division_left{
    
    float: left;
    background-color:#c53151;
    width: 5%;
    height: 20px;
}

.division_title{
    display: inline-block;
    height: 20px;
    border:0;
    margin-left: 5px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    font-family: 'Neusa Next Pro Compact',Impact,Arial,sans-serif;
    font-weight: bold;
}

.division_right_mr{
    float: right;
    background-color:#c53151;
    width: 84%;
    height: 20px;
}

.division_right_mm{
    float: right;
    background-color:#c53151;
    width: 85%;
    height: 20px;
}

.division_right_mm2{
    float: right;
    background-color:#c53151;
    width: 86%;
    height: 20px;
}

.division_right_mb{
    float: right;
    background-color:#c53151;
    width: 86%;
    height: 20px;
}

button {
    font-size: 18px;
    background-color: #e9cdc5;
    border-radius: 12px;
    border: none;
    margin-left: 30px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#user_information {
    margin-top: 10px;
    background-color: #c53151c2;  
    display: block;
    text-align: left;
}

#user_information img{
    border-radius: 50%;
    padding: 10px 10px 10px 14px;
}

#information_text {
    padding: 10px 10px 10px 10px;
    color: #f8f9f9;
}

#user_intro {
    display: block;
    clear: right;
    margin: 0px;
}

#user_intro img {
    float: left;
    margin: auto;
}
h3 a {
    color: #7e0e0e;
}
h3 a:hover {
    color: #3a1911;
}
#my_movies {
    
    width: 980px;
    margin-top: auto;
}



#review a{
    color: #7e0e0e;
}

#review a:hover {
    color: #3a1911;
}

#review_title {
    line-height: 40px;
}

table {
    line-height: 25px;
    width: 980px;
}

table td {
    vertical-align:text-top;
    margin: 0px;
    padding: 0px;
}

#mylist td {
    vertical-align:text-top;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

ul img {
    float: left;
    margin: 10px 2%;
    width: 15%;
}

footer {
    clear: both;
}
img {
    border: none;
}
#bottom{
    position:relative;
    margin-top: 30px;
    background-color: #f8f9f9;
    color: slategrey;
    height: 60px;
    width: 100%;
}