body {
	margin: 0;
	--color-frame-bg: #c9644b;
	--color-bg: white;
    --color-link: #9c0e0e;
    --color-link-hover: #fff;
    --color-menu: #3a1911;
    --color-menu-hover: #ffffff;
    --color-menu-deco: #9c0e0e;
    color: var(--color-text);
    background-color: var(--color-bg);
    --cursor-stroke: none;
    --cursor-fill: #6b3f24;
    --cursor-stroke-width: 1px;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

/*top链接*/
a {
	text-decoration: none;
	color: white;
	outline: none;
	cursor: pointer;
}

a:hover,
 a:focus {
	color: black;
	outline: none;
}

.top {
	position: relative;
	padding: 1rem 1.5rem;
	width: 100%;
	display: flex;
	text-transform: uppercase;
	z-index: 1000;
	background: var(--color-frame-bg);
}
.top__title {

	font-size: 1rem;
	margin: 0;
	font-weight: 400;
}
.frame__demos a {
    top: 0.5rem;
	border-bottom: 1px solid currentColor;
	transition: 0.2s border-color;
}
.frame__demos a:hover, 
.frame__demos a:focus {
	border-color: transparent;
}
.frame__links a:not(:last-child), 
.frame__demos a:not(:last-child) {
	margin-right: 1rem;
}
a.frame__demo--current {
	border-color: transparent;
	color: var(--color-text);
}
a.frame__demo {
	padding: 1rem;
}

.search {
    margin: -0.5rem;
    padding: 0;
    background: #c9644b;
    font-weight: 500;
    margin-right: 0.5rem;
    position: absolute;
    right:6rem;
}
.search input,.search button{
    border: none;
    outline: none;
}
.search form{
    position: relative;
    width: 300px;
    margin:0 auto;
}
.search input, .search button{
    background: transparent;
}
.search input{
    width: 100%;
    height: 30px;
    padding-left: 13px;
    border:2px solid #e9cdc5;  
}
.search input::placeholder{
    color: #695c59;
}
.search button{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 0.2rem;
    right: 0;
}
.search button:before{
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #e9cdc5;
}
.search input:focus{
    border-color: #695c59
}



#user_information {
    margin-top: 10px;
    background-color: #c9644bc2;
    float: right;
    width: 30%;
    display: block;
    text-align: left;

}

#user_intro {
    margin-left:37px;
    display: block;
    float: left;
    width: 60%;
    clear: right;
    margin: 0px;
}

#user_intro img {
    float: left;
}

#my_movies {
    float: left;
    width: 65%;
    margin-top: auto;
}

#my_movies a {
    color: #7e0e0e;
}

#my_movies a:hover {
    color: #3a1911;
}

#my_movies li {
    display:inline;
    border: none;
}

footer {
    clear: both;
}

#reviews img {
    float: left;
    margin-right: 15px;
    clear: both;
}

h3 {
    margin-left: 37px;
}

img {
    border: none;
}
#bottom{
    position:relative;
    top:1200px;
    background-color: #f8f9f9;
    color: slategrey;
    height: 60px;
    width: 100%;
}